<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/forgateP.css">
</head>

<body>
  <div class="forgot-container">
    <h2>Forgot Password</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div style="margin-bottom: 15px;">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="email" name="email" placeholder="Enter your registered email" required>
      <input type="submit" value="Send OTP">
    </form>
    <a style="text-decoration: none;" href="/login" class="back-link">Back to Login</a>
  </div>
</body>

</html>