<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Smart Attendance - Welcome</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/logina.css">
</head>

<body>
  <div class="animated-bg">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>

  <div class="content">
    <h1>Smart Attendance System</h1>
    <div class="btn-group">
      <a href="/register_manager" class="btn">Register as Manager</a>
      <a href="/register_student" class="btn">Register as Student</a>
      <a href="/login" class="btn">Login</a>
    </div>
  </div>
</body>

</html>